table {
  table-layout: fixed;
  min-width: 100%;
  
  border-collapse: collapse;
  background-color: #ffffff;
  box-sizing: border-box;
  margin-top: 20px;
}

thead {
  background-color: #D9D9D9;
  padding: 20px;
 font-family: 'Heebo', sans-serif;

}

td {
  padding: 0 20px;
}
th {
  font-family: 'Heebo', sans-serif;

 
  padding: 10px 20px;
  
}
tr {
  width: 190px;
  height: 40px;
  
}
button {
  background-color: transparent;
  color: #1B1A3A;
  border: none;
  cursor: pointer;
}

.button-td {
 
}